<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>client detail</title>
</head>
<body>
  <form action="#" th:action="@{/clientDetail/addClient/}" th:object="${clientData}" method="post">
    <div>
      <p>クライアント情報を入力してください。</p>
      <div>
        <input type="hidden" class="form-control" th:field="*{clientId}" /> 
      </div>
      <div class="form-group" th:classappend="${#fields.hasErrors('clientName')}? has-error">
        <label>クライアント名:</label>
        <input type="text" class="form-control" th:field="*{clientName}" /> 
        <span class="text-danger" th:if="${#fields.hasErrors('clientName')}" th:errors="*{clientName}"></span>
      </div>
      <div class="form-group" th:classappend="${#fields.hasErrors('clientCode')}? has-error">
        <label>クライアントコード:</label>
        <input type="text" class="form-control" th:field="*{clientCode}" />
        <span class="text-danger" th:if="${#fields.hasErrors('clientCode')}" th:errors="*{clientCode}"></span>
      </div>
      <div class="form-group">
        <label>公開フラグ:</label> <input type="checkbox" th:field="*{openFlag}" />
      </div>
      <div class="form-group">
        <label>ユーザ名アクセス権:</label> <input type="checkbox" th:field="*{userNameFlg}" />
      </div>
      <div class="form-group">
        <label>住所アクセス権:</label> <input type="checkbox" th:field="*{addressFlg}" />
      </div>
      <div class="form-group">
        <label>電話番号アクセス権:</label> <input type="checkbox" th:field="*{telNumberFlg}" />
      </div>
      <div class="form-group">
        <label>メールアドレスアクセス権:</label> <input type="checkbox" th:field="*{mailAddressFlg}" />
      </div>
      <div class="form-group">
        <label>ユーザ登録日アクセス権:</label> <input type="checkbox" th:field="*{addTimeStampFlg}" />
      </div>
      <div class="form-group">
        <label>最終ログイン日時アクセス権:</label> <input type="checkbox" th:field="*{lastLoginTimeFlg}" />
      </div>
      <div class="form-group" th:classappend="${#fields.hasErrors('redirectUrl')}? has-error">
        <label>リダイレクト先URL:</label>
        <input type="text" class="form-control" th:field="*{redirectUrl}" />
        <span class="text-danger" th:if="${#fields.hasErrors('redirectUrl')}" th:errors="*{redirectUrl}"></span>
      </div>
      <div class="form-group" th:classappend="${#fields.hasErrors('redirectUrl')}? has-error">
        <label>備考:</label>
        <input type="text" class="form-control" th:field="*{memo}" />
      </div>
      <button type="submit" class="btn btn-default">確認</button>
      <a href="/clientList/">
        <button type="button" >戻る</button>
      </a>
    </div>
  </form>
</body>
</html>