<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <form action="#" th:action="@{/sample}" th:object="${message}" method="post">
      <div>
        <p>メッセージを入力してください。</p>
        <input type="text" class="form-control" th:field="*{message}" />
        <button type="submit" class="btn btn-default">確認</button>
      </div>
    </form>
    <table border="1">
        <tr>
            <th>client name</th>
            <th>client code</th>
        </tr>
        <tr th:each="clientList : ${clientList}">
            <td th:text="${clientList.clientName}"></td>
            <td th:text="${clientList.clientCode}"></td>
        </tr>
    </table>
</body>
</html>