<!DOCTYPE html>
<html>
<head>
<title>Bad End</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body　class="is-preload">
  <div>
    <p style="color: red; font-size: 1.5em">あなたがこのページを見ているということは</p>
    <p style="color: red; font-size: 1.5em">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;致命的なエラーが発生しているということです。</p>
  </div>
  <script src="assets/js/main.js"></script>
</body>
</html>
