<!DOCTYPE html>
<html>
<head>
<title>Bad End</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link href="/assets/css/main.css" th:href="@{/assets/css/main.css}" rel="stylesheet"></link>
</head>
<body　class="is-preload">
  <div>
    <p style="color: red; font-size: 1.5em">致命的なエラー</p>
    <p style="color: red; font-size: 1.5em">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;またはページが存在しません。</p>
  </div>
  <script src="/assets/js/main.js" th:src="@{/assets/js/main.js}"></script>
</body>
</html>
