<!DOCTYPE html>
<html>
<head>
<title>Insert title here</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">
    <form action="#" th:action="@{/sample}" th:object="${message}" method="post">
      <div>
        <p>メッセージを入力してください。</p>
        <input type="text" class="form-control" th:field="*{message}" style=" width:500px; height:30px; " /><br/>
        <button type="submit" class="btn btn-default">確認</button>
      </div>
    </form>
    <br/>
    <table border="1">
        <tr><th>message</th></tr>
        <tr th:each="sampleTable : ${messages}">
            <td th:text="${sampleTable.text}"></td>
        </tr>
    </table>
    <script src="assets/js/main.js"></script>
</body>
</html>
